<div class="col-md-4 body-principal" >
    <p> {{ dateActuel | async  | date: 'shortDate' }}</p>
    <p> {{ dateActuel | async |date: 'mediumTime' }}</p>

    <form  [formGroup] = "timeSheetForm">
        <div class=" p-3 mb-2">
            <p>Employee: </p>
            <div class="form-group">
                <input type="text" name="email "class="form-control" formControlName="email">
            </div>
            <p>Employee Password: </p>
            <div class="form-group">
                <input type="password" name="password"class="form-control" formControlName="password">
            </div>
            <div class="form-group">
                <select  class="browser-default custom-select" formControlName ="task">
                    <option *ngFor='let task of object| keyvalue' [value]= "task.value">
                        {{ task.value }}
                    </option>
                </select>
            </div>
             <div class="content-block margin-clock">
                <div  id="clockInMarge">
                    <div class="col-md-4 " id="clockIn" (click) ="getTimeSheet('clock in')">
                        <span id="clockInSpan">CLOCK IN</span>
                    </div>
                    <div class="col-md-4 clock"  id="clockOut" (click) ="getTimeSheet('clock out')">
                        <span id="clockOutSpan" >CLOCK OUT</span>
                    </div>
                </div>
                <div  class="margeLeave">
                    <div class="col-md-4 clock"  id="leaveOnBreak"  (click) ="getTimeSheet('leave on break')">
                        <span  class="textSpan" >LEAVE ON BREAK</span>
                    </div>
                    <div class="col-md-4 clock"  id="returnFromBreak"  (click) ="getTimeSheet('return from break')">
                        <span class="textSpan">RETURN FROM BREAK</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


